<ul>
  <li>
    <md-card *ngIf="communicationService.isAuthenticated()">
      <md-toolbar color="primary">Create Service Plan</md-toolbar>
      <md-card-content>
        <h4>Vendor Id</h4>
        <md-input dividerColor="primary" placeholder="Vendor Id" [(ngModel)]="vendorId"></md-input>
        <h4>Excel file with Service Plans</h4>
        <div class="md-input-wrapper">
          <input dividerColor="primary" type="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <md-checkbox [(ngModel)]="checkExisting">Check existing of related objects</md-checkbox>
        <md-hint *ngIf="getErrorMessage()" md-warn align="left">{{getErrorMessage()}}</md-hint>
      </md-card-content>
      <md-card-actions align="right">
        <button md-raised-button color="primary" (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">Create</button>
        <button md-button routerLink="dashboard">Cancel</button>
      </md-card-actions>
    </md-card>
  </li>

  <li *ngIf="logArray.length">Logs: </li>
  <li *ngFor="let log of logArray ">
    {{ log }}
  </li>
</ul>
