<md-card>
  <md-toolbar color="primary">Create SKUs</md-toolbar>
  <md-card-content>
    <md-input-container floatingPlaceholder="false">
      <label>Reseller ID</label>
      <input md-input type="number" [(ngModel)]="resellerId">
    </md-input-container>
      <br><md-checkbox [(ngModel)]="dryRun"> Dry run </md-checkbox><br>
      <md-checkbox [(ngModel)]="checkPrices">Check prices</md-checkbox><br>
      <md-checkbox [(ngModel)]="skipBundles">Skip soft bundles</md-checkbox><br>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="createSku()">Create SKU</button>
  </md-card-actions>
</md-card>
