<ul>
  <li>
    <md-card>
      <md-toolbar color="primary">Reseller Sync</md-toolbar>
      <md-card-content>
        <md-input-container floatingPlaceholder="false">
          <label>Reseller ID</label>
          <input md-input type="number" [(ngModel)]="params.resellerId">
        </md-input-container>
        <md-input-container floatingPlaceholder="false">
          <label>Service template ID</label>
          <input md-input type="number" [(ngModel)]="params.serviceTemplateId">
        </md-input-container>
        <br><md-checkbox [(ngModel)]="params.dryRun">Dry run</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.updateManaged">Update self managed Service Plans</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncPlan">Synchronize Service Plans</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncPlanChange">Synchronize Service Plan Upgrades</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncPlanIcons">Synchronize Service Plan Icons</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncSalesCat">Synchronize Sales Categories</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncSalesCatIcons">Synchronize Icons in Sales Categories</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncPlanCat">Synchronize Plan Categories</md-checkbox><br>
        <md-checkbox [(ngModel)]="params.syncResCat">Synchronize Resource Categories</md-checkbox><br>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary" (click)="syncReseller()">Sync Reseller</button>
      </md-card-actions>
    </md-card>
  </li>

  <li *ngIf="logArray.length">Logs: </li>
  <li *ngFor="let log of logArray ">
    {{ log }}
  </li>
</ul>
