<!-- Navbar -->
    <md-toolbar color="primary">
        <div align="left">
            <img class="logo" src="/static/img/ingram-micro-logo.svg">
        </div>
        <div align="right">
            <button md-button [mdMenuTriggerFor]="langMenu" *ngIf="currentCountry">
              <md-icon>place</md-icon>{{ currentCountry.name }}
            </button>
          <button md-button [mdMenuTriggerFor]="langMenu" *ngIf="!currentCountry" >
            <md-icon>place</md-icon> Select Country
          </button>
            <md-menu x-position="before" #langMenu="mdMenu">
              <button md-menu-item *ngFor="let country of countries" (click)="selectCountry(country)">
                {{country.name}}
              </button>
            </md-menu>

            <button md-button [mdMenuTriggerFor]="userMenu"><md-icon>person</md-icon>
                {{ getUserName() }}
            </button>
            <md-menu x-position="before" #userMenu="mdMenu">
                <button md-menu-item (click)="logout()">Logout</button>
            </md-menu>

        </div>
    </md-toolbar>
<!-- /Navbar -->
