<h2 md-dialog-title>{{ dialogTitle }}</h2>
<md-dialog-content>
    {{ dialogMessage }}
</md-dialog-content>
<md-dialog-actions align="right">
    <button
            md-button
            color="warn"
            (click)="dialogRef.close('yes')">Yes</button>
    <button
            md-button
            md-dialog-close>Close</button>
</md-dialog-actions>