<!-- Page Actions -->
<span *ngFor="let item of actions">
    <button md-button  *ngIf="item.visible && item.type!='md-raised-button'" (click)="actionClick(item)"  color="{{item.color}}" [disabled]="item.disabled">
      {{item.label}}
    </button>
    <button md-raised-button  *ngIf="item.visible && item.type=='md-raised-button'" (click)="actionClick(item)"  color="{{item.color}}" [disabled]="item.disabled">
      {{item.label}}
    </button>
</span>
<!-- /Page Actions -->


