<md-nav-list *ngFor="let item of menuItems">
    <md-list-item>
        <a md-line *ngIf="item.visible" [routerLink]="item.routerLink">
            <md-icon md-list-avatar>{{item.iconClass}}</md-icon>{{item.label}}
        </a>
    </md-list-item>
</md-nav-list>

