/* =============================== Material Theme =================================== */
/**
 * Applies styles for users in high contrast mode. Note that this only applies
 * to Microsoft browsers. Chrome can be included by checking for the `html[hc]`
 * attribute, however Chrome handles high contrast differently.
 */
.md-elevation-z0 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z3 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z5 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z6 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z7 {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12); }

.md-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-z9 {
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-z10 {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-z11 {
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-z12 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z13 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z14 {
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z15 {
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z17 {
    box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z18 {
    box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12); }

.md-elevation-z19 {
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12); }

.md-elevation-z20 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z21 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z22 {
    box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z23 {
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12); }

.md-elevation-z24 {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

[md-ripple] {
    overflow: hidden; }

[md-ripple].mdRippleUnbounded {
    overflow: visible; }

.md-ripple-background {
    background-color: rgba(0, 0, 0, 0.0588);
    opacity: 0;
    transition: opacity 300ms linear;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

.mdRippleUnbounded .md-ripple-background {
    display: none; }

.md-ripple-background.md-ripple-active {
    opacity: 1; }

.mdRippleFocused .md-ripple-background {
    opacity: 1; }

.md-ripple-foreground {
    background-color: rgba(0, 0, 0, 0.0588);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.25;
    position: absolute;
    transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1); }

.md-ripple-foreground.md-ripple-fade-in {
    opacity: 1; }

.md-ripple-foreground.md-ripple-fade-out {
    opacity: 0; }

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px; }

.cdk-overlay-container, .cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.cdk-overlay-container {
    position: fixed;
    z-index: 1000; }

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000; }

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000; }

.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0; }
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.48; }

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.6); }

.cdk-overlay-transparent-backdrop {
    background: none; }

.mdRippleFocused .md-ripple-background {
    background-color: rgba(68, 138, 255, 0.1); }

[md-button].md-button-focus.md-primary .md-button-focus-overlay, [md-icon-button].md-button-focus.md-primary .md-button-focus-overlay, [md-raised-button].md-button-focus.md-primary .md-button-focus-overlay, [md-fab].md-button-focus.md-primary .md-button-focus-overlay, [md-mini-fab].md-button-focus.md-primary .md-button-focus-overlay {
    background-color: rgba(33, 150, 243, 0.12); }

[md-button].md-button-focus.md-accent .md-button-focus-overlay, [md-icon-button].md-button-focus.md-accent .md-button-focus-overlay, [md-raised-button].md-button-focus.md-accent .md-button-focus-overlay, [md-fab].md-button-focus.md-accent .md-button-focus-overlay, [md-mini-fab].md-button-focus.md-accent .md-button-focus-overlay {
    background-color: rgba(68, 138, 255, 0.12); }

[md-button].md-button-focus.md-warn .md-button-focus-overlay, [md-icon-button].md-button-focus.md-warn .md-button-focus-overlay, [md-raised-button].md-button-focus.md-warn .md-button-focus-overlay, [md-fab].md-button-focus.md-warn .md-button-focus-overlay, [md-mini-fab].md-button-focus.md-warn .md-button-focus-overlay {
    background-color: rgba(244, 67, 54, 0.12); }

[md-button], [md-icon-button] {
    background: transparent; }
[md-button].md-primary, [md-icon-button].md-primary {
    color: #0070CD; }
[md-button].md-gray, [md-icon-button].md-gray {
    color: rgba(0, 0, 0, 0.38); }
[md-button].md-accent, [md-icon-button].md-accent {
    color: #448aff; }
[md-button].md-warn, [md-icon-button].md-warn {
    color: #f44336; }
[md-button].md-primary[disabled], [md-button].md-accent[disabled], [md-button].md-warn[disabled], [md-button][disabled][disabled], [md-icon-button].md-primary[disabled], [md-icon-button].md-accent[disabled], [md-icon-button].md-warn[disabled], [md-icon-button][disabled][disabled] {
    color: rgba(0, 0, 0, 0.38); }
[md-button]:hover.md-primary .md-button-focus-overlay, [md-icon-button]:hover.md-primary .md-button-focus-overlay {
    background-color: rgba(33, 150, 243, 0.12); }
[md-button]:hover.md-accent .md-button-focus-overlay, [md-icon-button]:hover.md-accent .md-button-focus-overlay {
    background-color: rgba(68, 138, 255, 0.12); }
[md-button]:hover.md-warn .md-button-focus-overlay, [md-icon-button]:hover.md-warn .md-button-focus-overlay {
    background-color: rgba(244, 67, 54, 0.12); }

[md-raised-button], [md-fab], [md-mini-fab] {
    background-color: #fafafa; }
[md-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
    color: white; }
[md-raised-button].md-accent, [md-fab].md-accent, [md-mini-fab].md-accent {
    color: white; }
[md-raised-button].md-warn, [md-fab].md-warn, [md-mini-fab].md-warn {
    color: white; }
[md-raised-button].md-primary[disabled], [md-raised-button].md-accent[disabled], [md-raised-button].md-warn[disabled], [md-raised-button][disabled][disabled], [md-fab].md-primary[disabled], [md-fab].md-accent[disabled], [md-fab].md-warn[disabled], [md-fab][disabled][disabled], [md-mini-fab].md-primary[disabled], [md-mini-fab].md-accent[disabled], [md-mini-fab].md-warn[disabled], [md-mini-fab][disabled][disabled] {
    color: rgba(0, 0, 0, 0.38); }
[md-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
    background-color: #0070CD; }
[md-raised-button].md-accent, [md-fab].md-accent, [md-mini-fab].md-accent {
    background-color: #448aff; }
[md-raised-button].md-warn, [md-fab].md-warn, [md-mini-fab].md-warn {
    background-color: #f44336; }
[md-raised-button].md-primary[disabled], [md-raised-button].md-accent[disabled], [md-raised-button].md-warn[disabled], [md-raised-button][disabled][disabled], [md-fab].md-primary[disabled], [md-fab].md-accent[disabled], [md-fab].md-warn[disabled], [md-fab][disabled][disabled], [md-mini-fab].md-primary[disabled], [md-mini-fab].md-accent[disabled], [md-mini-fab].md-warn[disabled], [md-mini-fab][disabled][disabled] {
    background-color: rgba(0, 0, 0, 0.12); }

[md-fab], [md-mini-fab] {
    background-color: #448aff;
    color: white; }

.md-button-toggle-checked .md-button-toggle-label-content {
    background-color: #e0e0e0; }

.md-button-toggle-disabled .md-button-toggle-label-content {
    background-color: rgba(0, 0, 0, 0.38); }

md-card {
    background: white;
    color: black; }

md-card-subtitle {
    color: rgba(0, 0, 0, 0.54); }

.md-checkbox-frame {
    border-color: rgba(0, 0, 0, 0.54); }

.md-checkbox-checkmark {
    fill: #fafafa; }

.md-checkbox-checkmark-path {
    stroke: #fafafa !important; }

.md-checkbox-mixedmark {
    background-color: #fafafa; }

.md-checkbox-indeterminate.md-primary .md-checkbox-background, .md-checkbox-checked.md-primary .md-checkbox-background {
    background-color: #0070CD; }

.md-checkbox-indeterminate.md-accent .md-checkbox-background, .md-checkbox-checked.md-accent .md-checkbox-background {
    background-color: #0070CD; }

.md-checkbox-indeterminate.md-warn .md-checkbox-background, .md-checkbox-checked.md-warn .md-checkbox-background {
    background-color: #f44336; }

.md-checkbox-disabled.md-checkbox-checked .md-checkbox-background, .md-checkbox-disabled.md-checkbox-indeterminate .md-checkbox-background {
    background-color: #b0b0b0; }

.md-checkbox-disabled:not(.md-checkbox-checked) .md-checkbox-frame {
    border-color: #b0b0b0; }

.md-checkbox:not(.md-checkbox-disabled).md-primary .md-checkbox-ripple .md-ripple-foreground {
    background-color: rgba(33, 150, 243, 0.26); }

.md-checkbox:not(.md-checkbox-disabled).md-accent .md-checkbox-ripple .md-ripple-foreground {
    background-color: rgba(68, 138, 255, 0.26); }

.md-checkbox:not(.md-checkbox-disabled).md-warn .md-checkbox-ripple .md-ripple-foreground {
    background-color: rgba(244, 67, 54, 0.26); }

.md-chip {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87); }

.md-chip.md-chip-selected {
    background-color: #808080;
    color: rgba(255, 255, 255, 0.87); }
.md-chip.md-chip-selected.md-primary {
    background-color: #0070CD;
    color: white; }
.md-chip.md-chip-selected.md-accent {
    background-color: #0070CD;
    color: white; }
.md-chip.md-chip-selected.md-warn {
    background-color: #f44336;
    color: white; }

md-dialog-container {
    background: white; }

md-icon.md-primary {
    color: #0070CD; }

md-icon.md-accent {
    color: #448aff; }

md-icon.md-warn {
    color: #f44336; }

.md-input-placeholder {
    color: rgba(0, 0, 0, 0.38); }
.md-input-placeholder.md-focused {
    color: #0070CD; }
.md-input-placeholder.md-focused.md-accent {
    color: #448aff; }
.md-input-placeholder.md-focused.md-warn {
    color: #f44336; }

input.md-input-element:-webkit-autofill + .md-input-placeholder .md-placeholder-required,
.md-input-placeholder.md-float.md-focused .md-placeholder-required {
    color: #448aff; }

.md-input-underline {
    border-color: rgba(0, 0, 0, 0.12); }
.md-input-underline .md-input-ripple {
    background-color: #0070CD; }
.md-input-underline .md-input-ripple.md-accent {
    background-color: #448aff; }
.md-input-underline .md-input-ripple.md-warn {
    background-color: #f44336; }

md-list md-list-item, md-list a[md-list-item], md-nav-list md-list-item, md-nav-list a[md-list-item] {
    color: black; }

md-list [md-subheader], md-nav-list [md-subheader] {
    color: rgba(0, 0, 0, 0.54); }

md-divider {
    border-top-color: rgba(0, 0, 0, 0.12); }

md-nav-list .md-list-item:hover, md-nav-list .md-list-item.md-list-item-focus {
    background: rgba(0, 0, 0, 0.04); }

.md-menu-content {
    background: white; }

[md-menu-item] {
    background: transparent;
    color: rgba(0, 0, 0, 0.87); }
[md-menu-item][disabled] {
    color: rgba(0, 0, 0, 0.38); }
[md-menu-item] md-icon {
    color: rgba(0, 0, 0, 0.54); }
[md-menu-item]:hover:not([disabled]), [md-menu-item]:focus:not([disabled]) {
    background: rgba(0, 0, 0, 0.04); }

.md-progress-bar-background {
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#bbdefb%27%2F%3E%3C%2Fsvg%3E"); }

.md-progress-bar-buffer {
    background-color: #bbdefb; }

.md-progress-bar-fill::after {
    background-color: #1e88e5; }

md-progress-bar.md-accent .md-progress-bar-background {
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#bbdefb%27%2F%3E%3C%2Fsvg%3E"); }

md-progress-bar.md-accent .md-progress-bar-buffer {
    background-color: #bbdefb; }

md-progress-bar.md-accent .md-progress-bar-fill::after {
    background-color: #1e88e5; }

md-progress-bar.md-warn .md-progress-bar-background {
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#ffcdd2%27%2F%3E%3C%2Fsvg%3E"); }

md-progress-bar.md-warn .md-progress-bar-buffer {
    background-color: #ffcdd2; }

md-progress-bar.md-warn .md-progress-bar-fill::after {
    background-color: #e53935; }

md-progress-spinner path, md-progress-circle path, md-spinner path {
    stroke: #1e88e5; }

md-progress-spinner.md-accent path, md-progress-circle.md-accent path, md-spinner.md-accent path {
    stroke: #1e88e5; }

md-progress-spinner.md-warn path, md-progress-circle.md-warn path, md-spinner.md-warn path {
    stroke: #e53935; }

.md-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.54); }
.md-radio-checked .md-radio-outer-circle {
    border-color: #448aff; }
.md-radio-disabled .md-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.38); }

.md-radio-inner-circle {
    background-color: #448aff; }
.md-radio-disabled .md-radio-inner-circle {
    background-color: rgba(0, 0, 0, 0.38); }

.md-radio-ripple .md-ripple-foreground {
    background-color: rgba(68, 138, 255, 0.26); }
.md-radio-disabled .md-radio-ripple .md-ripple-foreground {
    background-color: rgba(0, 0, 0, 0.38); }

.md-select-trigger {
    color: rgba(0, 0, 0, 0.38);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
md-select:focus:not(.md-select-disabled) .md-select-trigger {
    color: #0070CD;
    border-bottom: 1px solid #0070CD; }
md-select.ng-invalid.ng-touched:not(.md-select-disabled) .md-select-trigger {
    color: #f44336;
    border-bottom: 1px solid #f44336; }

.md-select-arrow {
    color: rgba(0, 0, 0, 0.38); }
md-select:focus:not(.md-select-disabled) .md-select-arrow {
    color: #0070CD; }
md-select.ng-invalid.ng-touched:not(.md-select-disabled) .md-select-arrow {
    color: #f44336; }

.md-select-content {
    background: white; }

.md-select-value {
    color: rgba(0, 0, 0, 0.87); }
.md-select-disabled .md-select-value {
    color: rgba(0, 0, 0, 0.38); }

md-option:hover:not(.md-option-disabled), md-option:focus:not(.md-option-disabled) {
    background: rgba(0, 0, 0, 0.04); }

md-option.md-selected {
    background: rgba(0, 0, 0, 0.04);
    color: #0070CD; }

md-option.md-option-disabled {
    color: rgba(0, 0, 0, 0.38); }

.md-sidenav-container {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87); }

md-sidenav {
    background-color: white;
    color: rgba(0, 0, 0, 0.87); }
md-sidenav.md-sidenav-push {
    background-color: white; }

.md-sidenav-backdrop.md-sidenav-shown {
    background-color: rgba(0, 0, 0, 0.6); }

md-slide-toggle.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
    background-color: #0070CD; }

md-slide-toggle.md-checked:not(.md-disabled) .md-slide-toggle-bar {
    background-color: rgba(33, 150, 243, 0.5); }

md-slide-toggle.md-slide-toggle-focused:not(.md-checked) .md-ink-ripple {
    background-color: rgba(0, 0, 0, 0.12); }

md-slide-toggle.md-slide-toggle-focused .md-ink-ripple {
    background-color: rgba(33, 150, 243, 0.26); }

md-slide-toggle.md-primary.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
    background-color: #0070CD; }

md-slide-toggle.md-primary.md-checked:not(.md-disabled) .md-slide-toggle-bar {
    background-color: rgba(33, 150, 243, 0.5); }

md-slide-toggle.md-primary.md-slide-toggle-focused:not(.md-checked) .md-ink-ripple {
    background-color: rgba(0, 0, 0, 0.12); }

md-slide-toggle.md-primary.md-slide-toggle-focused .md-ink-ripple {
    background-color: rgba(33, 150, 243, 0.26); }

md-slide-toggle.md-warn.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
    background-color: #f44336; }

md-slide-toggle.md-warn.md-checked:not(.md-disabled) .md-slide-toggle-bar {
    background-color: rgba(244, 67, 54, 0.5); }

md-slide-toggle.md-warn.md-slide-toggle-focused:not(.md-checked) .md-ink-ripple {
    background-color: rgba(0, 0, 0, 0.12); }

md-slide-toggle.md-warn.md-slide-toggle-focused .md-ink-ripple {
    background-color: rgba(244, 67, 54, 0.26); }

.md-disabled .md-slide-toggle-thumb {
    background-color: #bdbdbd; }

.md-disabled .md-slide-toggle-bar {
    background-color: rgba(0, 0, 0, 0.1); }

.md-slide-toggle-thumb {
    background-color: #fafafa; }

.md-slide-toggle-bar {
    background-color: rgba(0, 0, 0, 0.38); }

.md-slider-track {
    background-color: rgba(0, 0, 0, 0.26); }

.md-slider-track-fill {
    background-color: #448aff; }

.md-slider-thumb {
    background-color: #448aff; }

.md-slider-thumb-label {
    background-color: #448aff; }

.md-slider-thumb-label-text {
    color: white; }

[md-tab-nav-bar],
.md-tab-header {
    border-bottom: 1px solid #e0e0e0; }

.md-tab-label:focus {
    background-color: rgba(187, 222, 251, 0.3); }

md-ink-bar {
    background-color: #0070CD; }

md-toolbar {
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.87); }
md-toolbar.md-primary {
    background: #0070CD;
    color: white; }
md-toolbar.md-accent {
    background: #448aff;
    color: white; }
md-toolbar.md-warn {
    background: #f44336;
    color: white; }

.md-tooltip {
    background: rgba(97, 97, 97, 0.9); }

/*# sourceMappingURL=pink-bluegrey.css.map */


/*# sourceMappingURL=demo-app.css.map */

md-toolbar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0 16px;
    flex-direction: column;
}

md-toolbar md-toolbar-row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

md-toolbar {
    min-height: 64px;
}

md-toolbar-row {
    height: 64px;
}


/*# sourceMappingURL=toolbar.css.map */

[md-raised-button], [md-fab], [md-mini-fab], [md-button], [md-icon-button] {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: currentColor;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
}

[disabled][md-raised-button], [disabled][md-fab], [disabled][md-mini-fab], [disabled][md-button], [disabled][md-icon-button] {
    cursor: default;
}

.md-button-focus[md-raised-button] .md-button-focus-overlay, .md-button-focus[md-fab] .md-button-focus-overlay, .md-button-focus[md-mini-fab] .md-button-focus-overlay, .md-button-focus[md-button] .md-button-focus-overlay, .md-button-focus[md-icon-button] .md-button-focus-overlay {
    opacity: 1;
}

[md-raised-button], [md-fab], [md-mini-fab] {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

[md-raised-button]:active, [md-fab]:active, [md-mini-fab]:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

[disabled][md-raised-button], [disabled][md-fab], [disabled][md-mini-fab] {
    box-shadow: none;
}


/** * Applies styles for users in high contrast mode. Note that this only applies * to Microsoft browsers. Chrome can be included by checking for the `html[hc]` * attribute, however Chrome handles high contrast differently. */

[md-button]:hover .md-button-focus-overlay, [md-icon-button]:hover .md-button-focus-overlay {
    opacity: 1;
}

[md-button][disabled]:hover.md-primary, [md-button][disabled]:hover.md-accent, [md-button][disabled]:hover.md-warn, [md-button][disabled]:hover .md-button-focus-overlay, [md-icon-button][disabled]:hover.md-primary, [md-icon-button][disabled]:hover.md-accent, [md-icon-button][disabled]:hover.md-warn, [md-icon-button][disabled]:hover .md-button-focus-overlay {
    background-color: transparent;
}

[md-fab] {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    min-width: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0;
    flex-shrink: 0;
}

[md-fab]:active {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

[md-fab] i, [md-fab] md-icon {
    padding: 16px 0;
    line-height: 24px;
}

[md-mini-fab] {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    min-width: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    flex-shrink: 0;
}

[md-mini-fab]:active {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

[md-mini-fab] i, [md-mini-fab] md-icon {
    padding: 8px 0;
    line-height: 24px;
}

[md-icon-button] {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

[md-icon-button] i, [md-icon-button] md-icon {
    line-height: 24px;
}

[md-button] .md-button-wrapper>*, [md-raised-button] .md-button-wrapper>*, [md-icon-button] .md-button-wrapper>* {
    vertical-align: middle;
}

.md-button-ripple, .md-button-focus-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.md-button-focus-overlay {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
}

@media screen and (-ms-high-contrast: active) {
    .md-button-focus-overlay {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.md-button-ripple-round {
    border-radius: 50%;
    z-index: 1;
}

@media screen and (-ms-high-contrast: active) {
    [md-button], [md-raised-button], [md-icon-button], [md-fab], [md-mini-fab] {
        outline: solid 1px;
    }
}


/*# sourceMappingURL=button.css.map */

md-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}


/*# sourceMappingURL=icon.css.map */


/** The mixins below are shared between md-menu and md-select */


/** * This mixin adds the correct panel transform styles based * on the direction that the menu panel opens. */


/** * Applies styles for users in high contrast mode. Note that this only applies * to Microsoft browsers. Chrome can be included by checking for the `html[hc]` * attribute, however Chrome handles high contrast differently. */

.md-menu-panel {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh + 48px);
}

.md-menu-panel.md-menu-after.md-menu-below {
    transform-origin: left top;
}

.md-menu-panel.md-menu-after.md-menu-above {
    transform-origin: left bottom;
}

.md-menu-panel.md-menu-before.md-menu-below {
    transform-origin: right top;
}

.md-menu-panel.md-menu-before.md-menu-above {
    transform-origin: right bottom;
}

[dir='rtl'] .md-menu-panel.md-menu-after.md-menu-below {
    transform-origin: right top;
}

[dir='rtl'] .md-menu-panel.md-menu-after.md-menu-above {
    transform-origin: right bottom;
}

[dir='rtl'] .md-menu-panel.md-menu-before.md-menu-below {
    transform-origin: left top;
}

[dir='rtl'] .md-menu-panel.md-menu-before.md-menu-above {
    transform-origin: left bottom;
}

@media screen and (-ms-high-contrast: active) {
    .md-menu-panel {
        outline: solid 1px;
    }
}

.md-menu-content {
    padding-top: 8px;
    padding-bottom: 8px;
}

[md-menu-item] {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: none;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: start;
    text-decoration: none;
    position: relative;
}

[md-menu-item][disabled] {
    cursor: default;
}

[md-menu-item] md-icon {
    margin-right: 16px;
}

[dir='rtl'] [md-menu-item] md-icon {
    margin-left: 16px;
}

button[md-menu-item] {
    width: 100%;
}

.md-menu-ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/*# sourceMappingURL=menu.css.map */

.md-chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* * Only apply the margins to chips */
}

.md-chip-list-wrapper .md-chip {
    margin: 0 3px 0 3px;
}

.md-chip-list-wrapper .md-chip:first-child {
    margin-left: 0;
    margin-right: 3px;
}

[dir='rtl'] .md-chip-list-wrapper .md-chip:first-child {
    margin-left: 3px;
    margin-right: 0;
}

.md-chip-list-wrapper .md-chip:last-child {
    margin-left: 3px;
    margin-right: 0;
}

[dir='rtl'] .md-chip-list-wrapper .md-chip:last-child {
    margin-left: 0;
    margin-right: 3px;
}

.md-chip {
    display: inline-block;
    padding: 8px 12px 8px 12px;
    border-radius: 24px;
    font-size: 13px;
    line-height: 16px;
}

.md-chip-list-stacked .md-chip-list-wrapper {
    display: block;
}

.md-chip-list-stacked .md-chip-list-wrapper .md-chip {
    display: block;
    margin: 0;
    margin-bottom: 8px;
}

[dir='rtl'] .md-chip-list-stacked .md-chip-list-wrapper .md-chip {
    margin: 0;
    margin-bottom: 8px;
}

.md-chip-list-stacked .md-chip-list-wrapper .md-chip:last-child, [dir='rtl'] .md-chip-list-stacked .md-chip-list-wrapper .md-chip:last-child {
    margin-bottom: 0;
}


/*# sourceMappingURL=chips.css.map */

md-list, md-nav-list {
    padding-top: 8px;
    display: block;
}

md-list [md-subheader], md-nav-list [md-subheader] {
    display: block;
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

md-list [md-subheader]:first-child, md-nav-list [md-subheader]:first-child {
    margin-top: -8px;
}

md-list md-list-item, md-list a[md-list-item], md-nav-list md-list-item, md-nav-list a[md-list-item] {
    display: block;
}

md-list md-list-item .md-list-item, md-list a[md-list-item] .md-list-item, md-nav-list md-list-item .md-list-item, md-nav-list a[md-list-item] .md-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    padding: 0 16px;
}

md-list md-list-item.md-list-avatar .md-list-item, md-list a[md-list-item].md-list-avatar .md-list-item, md-nav-list md-list-item.md-list-avatar .md-list-item, md-nav-list a[md-list-item].md-list-avatar .md-list-item {
    height: 56px;
}

md-list md-list-item.md-2-line .md-list-item, md-list a[md-list-item].md-2-line .md-list-item, md-nav-list md-list-item.md-2-line .md-list-item, md-nav-list a[md-list-item].md-2-line .md-list-item {
    height: 72px;
}

md-list md-list-item.md-3-line .md-list-item, md-list a[md-list-item].md-3-line .md-list-item, md-nav-list md-list-item.md-3-line .md-list-item, md-nav-list a[md-list-item].md-3-line .md-list-item {
    height: 88px;
}

md-list md-list-item.md-multi-line .md-list-item, md-list a[md-list-item].md-multi-line .md-list-item, md-nav-list md-list-item.md-multi-line .md-list-item, md-nav-list a[md-list-item].md-multi-line .md-list-item {
    height: 100%;
    padding: 8px 16px;
}

md-list md-list-item .md-list-text, md-list a[md-list-item] .md-list-text, md-nav-list md-list-item .md-list-text, md-nav-list a[md-list-item] .md-list-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 16px;
}

md-list md-list-item .md-list-text>*, md-list a[md-list-item] .md-list-text>*, md-nav-list md-list-item .md-list-text>*, md-nav-list a[md-list-item] .md-list-text>* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}

md-list md-list-item .md-list-text:empty, md-list a[md-list-item] .md-list-text:empty, md-nav-list md-list-item .md-list-text:empty, md-nav-list a[md-list-item] .md-list-text:empty {
    display: none;
}

md-list md-list-item .md-list-text:first-child, md-list a[md-list-item] .md-list-text:first-child, md-nav-list md-list-item .md-list-text:first-child, md-nav-list a[md-list-item] .md-list-text:first-child {
    padding: 0;
}

md-list md-list-item [md-list-avatar], md-list a[md-list-item] [md-list-avatar], md-nav-list md-list-item [md-list-avatar], md-nav-list a[md-list-item] [md-list-avatar] {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

md-list md-list-item [md-list-icon], md-list a[md-list-item] [md-list-icon], md-nav-list md-list-item [md-list-icon], md-nav-list a[md-list-item] [md-list-icon] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 4px;
}

md-list md-list-item [md-line], md-list a[md-list-item] [md-line], md-nav-list md-list-item [md-line], md-nav-list a[md-list-item] [md-line] {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

md-list md-list-item [md-line]:nth-child(n+2), md-list a[md-list-item] [md-line]:nth-child(n+2), md-nav-list md-list-item [md-line]:nth-child(n+2), md-nav-list a[md-list-item] [md-line]:nth-child(n+2) {
    font-size: 14px;
}

md-list[dense], md-nav-list[dense] {
    padding-top: 4px;
    display: block;
}

md-list[dense] [md-subheader], md-nav-list[dense] [md-subheader] {
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 16px;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

md-list[dense] [md-subheader]:first-child, md-nav-list[dense] [md-subheader]:first-child {
    margin-top: -4px;
}

md-list[dense] md-list-item, md-list[dense] a[md-list-item], md-nav-list[dense] md-list-item, md-nav-list[dense] a[md-list-item] {
    display: block;
}

md-list[dense] md-list-item .md-list-item, md-list[dense] a[md-list-item] .md-list-item, md-nav-list[dense] md-list-item .md-list-item, md-nav-list[dense] a[md-list-item] .md-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    font-size: 13px;
    height: 40px;
    padding: 0 16px;
}

md-list[dense] md-list-item.md-list-avatar .md-list-item, md-list[dense] a[md-list-item].md-list-avatar .md-list-item, md-nav-list[dense] md-list-item.md-list-avatar .md-list-item, md-nav-list[dense] a[md-list-item].md-list-avatar .md-list-item {
    height: 48px;
}

md-list[dense] md-list-item.md-2-line .md-list-item, md-list[dense] a[md-list-item].md-2-line .md-list-item, md-nav-list[dense] md-list-item.md-2-line .md-list-item, md-nav-list[dense] a[md-list-item].md-2-line .md-list-item {
    height: 60px;
}

md-list[dense] md-list-item.md-3-line .md-list-item, md-list[dense] a[md-list-item].md-3-line .md-list-item, md-nav-list[dense] md-list-item.md-3-line .md-list-item, md-nav-list[dense] a[md-list-item].md-3-line .md-list-item {
    height: 76px;
}

md-list[dense] md-list-item.md-multi-line .md-list-item, md-list[dense] a[md-list-item].md-multi-line .md-list-item, md-nav-list[dense] md-list-item.md-multi-line .md-list-item, md-nav-list[dense] a[md-list-item].md-multi-line .md-list-item {
    height: 100%;
    padding: 8px 16px;
}

md-list[dense] md-list-item .md-list-text, md-list[dense] a[md-list-item] .md-list-text, md-nav-list[dense] md-list-item .md-list-text, md-nav-list[dense] a[md-list-item] .md-list-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 16px;
}

md-list[dense] md-list-item .md-list-text>*, md-list[dense] a[md-list-item] .md-list-text>*, md-nav-list[dense] md-list-item .md-list-text>*, md-nav-list[dense] a[md-list-item] .md-list-text>* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}

md-list[dense] md-list-item .md-list-text:empty, md-list[dense] a[md-list-item] .md-list-text:empty, md-nav-list[dense] md-list-item .md-list-text:empty, md-nav-list[dense] a[md-list-item] .md-list-text:empty {
    display: none;
}

md-list[dense] md-list-item .md-list-text:first-child, md-list[dense] a[md-list-item] .md-list-text:first-child, md-nav-list[dense] md-list-item .md-list-text:first-child, md-nav-list[dense] a[md-list-item] .md-list-text:first-child {
    padding: 0;
}

md-list[dense] md-list-item [md-list-avatar], md-list[dense] a[md-list-item] [md-list-avatar], md-nav-list[dense] md-list-item [md-list-avatar], md-nav-list[dense] a[md-list-item] [md-list-avatar] {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

md-list[dense] md-list-item [md-list-icon], md-list[dense] a[md-list-item] [md-list-icon], md-nav-list[dense] md-list-item [md-list-icon], md-nav-list[dense] a[md-list-item] [md-list-icon] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 4px;
}

md-list[dense] md-list-item [md-line], md-list[dense] a[md-list-item] [md-line], md-nav-list[dense] md-list-item [md-line], md-nav-list[dense] a[md-list-item] [md-line] {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

md-list[dense] md-list-item [md-line]:nth-child(n+2), md-list[dense] a[md-list-item] [md-line]:nth-child(n+2), md-nav-list[dense] md-list-item [md-line]:nth-child(n+2), md-nav-list[dense] a[md-list-item] [md-line]:nth-child(n+2) {
    font-size: 13px;
}

md-divider {
    display: block;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 0;
}

md-nav-list a {
    text-decoration: none;
    color: inherit;
}

md-nav-list .md-list-item {
    cursor: pointer;
}

md-nav-list .md-list-item:hover, md-nav-list .md-list-item.md-list-item-focus {
    outline: none;
}


/*# sourceMappingURL=list.css.map */


/** * Applies styles for users in high contrast mode. Note that this only applies * to Microsoft browsers. Chrome can be included by checking for the `html[hc]` * attribute, however Chrome handles high contrast differently. */

md-card {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (-ms-high-contrast: active) {
    md-card {
        outline: solid 1px;
    }
}

.md-card-flat {
    box-shadow: none;
}

md-card-title, md-card-subtitle, md-card-content, md-card-actions {
    display: block;
    margin-bottom: 16px;
}

md-card-title {
    font-size: 24px;
    font-weight: 400;
}

md-card-subtitle {
    font-size: 14px;
}

md-card-content {
    font-size: 14px;
}

md-card-actions {
    margin-left: -16px;
    margin-right: -16px;
    padding: 8px 0;
}

md-card-actions[align='end'] {
    display: flex;
    justify-content: flex-end;
}

[md-card-image] {
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
}

[md-card-xl-image] {
    width: 240px;
    height: 240px;
    margin: -8px;
}

md-card-footer {
    position: absolute;
    width: 100%;
    min-height: 5px;
    bottom: 0;
    left: 0;
}

md-card-actions [md-button], md-card-actions [md-raised-button] {
    margin: 0 4px;
}

md-card-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: -8px 0 16px 0;
}

.md-card-header-text {
    height: 40px;
    margin: 0 8px;
}

[md-card-avatar] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

md-card-header md-card-title {
    font-size: 14px;
}

[md-card-sm-image], [md-card-md-image], [md-card-lg-image] {
    margin: -8px 0;
}

md-card-title-group {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
}

[md-card-sm-image] {
    width: 80px;
    height: 80px;
}

[md-card-md-image] {
    width: 112px;
    height: 112px;
}

[md-card-lg-image] {
    width: 152px;
    height: 152px;
}

@media (max-width: 600px) {
    md-card {
        padding: 24px 16px;
    }
    [md-card-image] {
        width: calc(100% + 32px);
        margin: 16px -16px;
    }
    md-card-title-group {
        margin: 0;
    }
    [md-card-xl-image] {
        margin-left: 0;
        margin-right: 0;
    }
    md-card-header {
        margin: -8px 0 0 0;
    }
}

md-card> :first-child, md-card-content> :first-child {
    margin-top: 0;
}

md-card> :last-child, md-card-content> :last-child {
    margin-bottom: 0;
}

[md-card-image]:first-child {
    margin-top: -24px;
}

md-card>md-card-actions:last-child {
    margin-bottom: -16px;
    padding-bottom: 0;
}

md-card-actions [md-button]:first-child, md-card-actions [md-raised-button]:first-child {
    margin-left: 0;
    margin-right: 0;
}

md-card-title:not(:first-child), md-card-subtitle:not(:first-child) {
    margin-top: -4px;
}

md-card-header md-card-subtitle:not(:first-child) {
    margin-top: -8px;
}

md-card>[md-card-xl-image]:first-child {
    margin-top: -8px;
}

md-card>[md-card-xl-image]:last-child {
    margin-bottom: -8px;
}


/*# sourceMappingURL=card.css.map */


/** The mixins below are shared between md-menu and md-select */


/** * This mixin adds the correct panel transform styles based * on the direction that the menu panel opens. */


/** * Applies styles for users in high contrast mode. Note that this only applies * to Microsoft browsers. Chrome can be included by checking for the `html[hc]` * attribute, however Chrome handles high contrast differently. */

md-select {
    display: inline-block;
    outline: none;
}

.md-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    min-width: 112px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

[aria-disabled='true'] .md-select-trigger {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom: transparent;
    background-position: 0 bottom;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.md-select-placeholder {
    position: relative;
    padding: 0 2px;
    transform-origin: left top;
}

.md-select-placeholder.md-floating-placeholder {
    top: -22px;
    left: -2px;
    transform: scale(0.75);
}

[dir='rtl'] .md-select-placeholder {
    transform-origin: right top;
}

[dir='rtl'] .md-select-placeholder.md-floating-placeholder {
    left: 2px;
}

[aria-required=true] .md-select-placeholder::after {
    content: '*';
}

.md-select-value {
    position: absolute;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    left: 0;
    top: 6px;
}

[dir='rtl'] .md-select-value {
    left: auto;
    right: 0;
}

.md-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
}

.md-select-panel {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 256px;
}

@media screen and (-ms-high-contrast: active) {
    .md-select-panel {
        outline: solid 1px;
    }
}

md-option {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: start;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    outline: none;
}

md-option[disabled] {
    cursor: default;
}

md-option md-icon {
    margin-right: 16px;
}

[dir='rtl'] md-option md-icon {
    margin-left: 16px;
}

md-option[aria-disabled='true'] {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.md-option-ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (-ms-high-contrast: active) {
    .md-option-ripple {
        opacity: 0.5;
    }
}


/*# sourceMappingURL=select.css.map */

[_nghost-dud-16] {
    display: block;
    height: 5px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transition: opacity 250ms linear;
    width: 100%;
}

[_nghost-dud-16] .md-progress-bar-background[_ngcontent-dud-16] {
    background-repeat: repeat-x;
    background-size: 10px 4px;
    height: 100%;
    position: absolute;
    visibility: hidden;
    width: 100%;
}

[_nghost-dud-16] .md-progress-bar-buffer[_ngcontent-dud-16] {
    height: 100%;
    position: absolute;
    transform-origin: top left;
    transition: transform 250ms ease;
    width: 100%;
}

[_nghost-dud-16] .md-progress-bar-secondary[_ngcontent-dud-16] {
    visibility: hidden;
}

[_nghost-dud-16] .md-progress-bar-fill[_ngcontent-dud-16] {
    animation: none;
    height: 100%;
    position: absolute;
    transform-origin: top left;
    transition: transform 250ms ease;
    width: 100%;
}

[_nghost-dud-16] .md-progress-bar-fill[_ngcontent-dud-16]::after {
    animation: none;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
}

[mode='query'][_nghost-dud-16] {
    transform: rotateZ(180deg);
}

[mode='indeterminate'][_nghost-dud-16] .md-progress-bar-fill[_ngcontent-dud-16], [mode='query'][_nghost-dud-16] .md-progress-bar-fill[_ngcontent-dud-16] {
    transition: none;
}

[mode='indeterminate'][_nghost-dud-16] .md-progress-bar-primary[_ngcontent-dud-16], [mode='query'][_nghost-dud-16] .md-progress-bar-primary[_ngcontent-dud-16] {
    animation: md-progress-bar-primary-indeterminate-translate 2000ms infinite linear;
    left: -145.166611%;
}

[mode='indeterminate'][_nghost-dud-16] .md-progress-bar-primary.md-progress-bar-fill[_ngcontent-dud-16]::after, [mode='query'][_nghost-dud-16] .md-progress-bar-primary.md-progress-bar-fill[_ngcontent-dud-16]::after {
    animation: md-progress-bar-primary-indeterminate-scale 2000ms infinite linear;
}

[mode='indeterminate'][_nghost-dud-16] .md-progress-bar-secondary[_ngcontent-dud-16], [mode='query'][_nghost-dud-16] .md-progress-bar-secondary[_ngcontent-dud-16] {
    animation: md-progress-bar-secondary-indeterminate-translate 2000ms infinite linear;
    left: -54.888891%;
    visibility: visible;
}

[mode='indeterminate'][_nghost-dud-16] .md-progress-bar-secondary.md-progress-bar-fill[_ngcontent-dud-16]::after, [mode='query'][_nghost-dud-16] .md-progress-bar-secondary.md-progress-bar-fill[_ngcontent-dud-16]::after {
    animation: md-progress-bar-secondary-indeterminate-scale 2000ms infinite linear;
}

[mode='buffer'][_nghost-dud-16] .md-progress-bar-background[_ngcontent-dud-16] {
    animation: md-progress-bar-background-scroll 250ms infinite linear;
    visibility: visible;
}

[dir='rtl'][_nghost-dud-16], [dir='rtl'] [_nghost-dud-16] {
    transform: rotateY(180deg);
}

@keyframes md-progress-bar-primary-indeterminate-translate {
    0% {
        transform: translateX(0);
    }
    20% {
        animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
        transform: translateX(0);
    }
    59.15% {
        animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
        transform: translateX(83.67142%);
    }
    100% {
        transform: translateX(200.61106%);
    }
}

@keyframes md-progress-bar-primary-indeterminate-scale {
    0% {
        transform: scaleX(0.08);
    }
    36.65% {
        animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
        transform: scaleX(0.08);
    }
    69.15% {
        animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
        transform: scaleX(0.66148);
    }
    100% {
        transform: scaleX(0.08);
    }
}

@keyframes md-progress-bar-secondary-indeterminate-translate {
    0% {
        animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
        transform: translateX(0);
    }
    25% {
        animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
        transform: translateX(37.65191%);
    }
    48.35% {
        animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
        transform: translateX(84.38617%);
    }
    100% {
        transform: translateX(160.27778%);
    }
}

@keyframes md-progress-bar-secondary-indeterminate-scale {
    0% {
        animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
        transform: scaleX(0.08);
    }
    19.15% {
        animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
        transform: scaleX(0.4571);
    }
    44.15% {
        animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
        transform: scaleX(0.72796);
    }
    100% {
        transform: scaleX(0.08);
    }
}

@keyframes md-progress-bar-background-scroll {
    to {
        transform: translateX(-10px);
    }
}


/*# sourceMappingURL=progress-bar.css.map */

md-grid-list {
    display: block;
    position: relative;
}

md-grid-tile {
    display: block;
    position: absolute;
    overflow: hidden;
}

md-grid-tile figure {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

md-grid-tile md-grid-tile-header, md-grid-tile md-grid-tile-footer {
    display: flex;
    align-items: center;
    height: 48px;
    color: #fff;
    background: rgba(0, 0, 0, 0.38);
    overflow: hidden;
    padding: 0 16px;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
}

md-grid-tile md-grid-tile-header [md-line], md-grid-tile md-grid-tile-footer [md-line] {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

md-grid-tile md-grid-tile-header [md-line]:nth-child(n+2), md-grid-tile md-grid-tile-footer [md-line]:nth-child(n+2) {
    font-size: 12px;
}

md-grid-tile md-grid-tile-header>*, md-grid-tile md-grid-tile-footer>* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}

md-grid-tile md-grid-tile-header.md-2-line, md-grid-tile md-grid-tile-footer.md-2-line {
    height: 68px;
}

md-grid-tile .md-grid-list-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

md-grid-tile .md-grid-list-text>* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}

md-grid-tile .md-grid-list-text:empty {
    display: none;
}

md-grid-tile md-grid-tile-header {
    top: 0;
}

md-grid-tile md-grid-tile-footer {
    bottom: 0;
}

md-grid-tile [md-grid-avatar] {
    padding-right: 16px;
}

[dir='rtl'] md-grid-tile [md-grid-avatar] {
    padding-right: 0;
    padding-left: 16px;
}

md-grid-tile [md-grid-avatar]:empty {
    display: none;
}


/*# sourceMappingURL=grid-list.css.map */

/* =============================== Ingram Theme =================================== */
html, body {
	padding: 0;
    margin: 0;
	height: 100%;
	min-width: 1024px;
	min-height: 100%;
}
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1 {
    font-weight: normal;
    font-size: 180%;
}

h2 {
    font-weight: bold;
    font-size: 120%;
	margin: 20px 0;
}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
	border-collapse: collapse;
    vertical-align: baseline;
    background: transparent;
}
ul, ol,
md-input,
md-input-container,
md-select,
[type="file"] {
	min-width: 33.33%;
}

md-select {
    margin-top: 20px;
}
ul, ol, md-slide-toggle {
	display: inline-block !important;
	list-style: none;
	padding: 0;
	margin: 0 0 20px !important;
}
ul li, ol li {
	padding: 0 20px 0 0;
	line-height: 36px;
	vertical-align: baseline;
}
li md-icon {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	line-height: 1 !important;
}
md-icon[aria-label="cancel"] {
	color: #f44336;
}
md-icon[aria-label="schedule"] {
	color: silver;
}
md-icon[aria-label="sync"] {
	animation: spin 1s linear infinite;
}
md-sidenav-container {
    width: 100%;
}

button .material-icons {
	font-size: 20px;
}
md-hint {
	font-size: 80%;
	display: block;
	position: relative !important;
	line-height: normal;
	margin: 5px 0;
	color: gray;
}
md-hint[md-warn], .md-warn {
	color: #f44336;
}

md-hint[md-label] {
    color: black;
    font-size: 100%;
}
@keyframes spin { 100% { transform:rotate(-360deg); } }

.app-container {
    display: flex;
    flex-flow: row wrap;
	align-content: flex-start;
	min-width: 100vh;
	min-height: 100vh;
}

md-dialog-actions [md-button],
.app-container [md-button],
.app-container [md-raised-button]{
    text-transform: uppercase;
}

.app-navigation,
.app-content {
	min-height: 80vh;
}

.app-header,
.app-header md-toolbar div,
.app-breadcrumbs,
.app-navigation,
.app-footer {
    flex: 1 100%;
}

.app-header md-toolbar {
    padding: 0 20px;
	background: #0070CD;
}

.app-header md-toolbar img.logo {
    max-width: 180px;
    margin: 0;
	vertical-align: bottom;
}

.app-header,
.app-header md-toolbar,
.app-header md-toolbar-row,
.app-breadcrumbs {
	min-height: 64px !important;
}

.app-breadcrumbs {
    margin: 0;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    align-content: center;
	align-items: center;
}

.app-breadcrumbs .md-chip-list {
    flex: 2 0 0;
    align-items: flex-start;
}
.app-breadcrumbs cpc-actions,
.app-breadcrumbs .md-chip-list {
	padding: 0 20px;
}
.app-breadcrumbs .md-chip-list .md-chip,
.app-breadcrumbs .md-chip-list .flag-icon,
.app-content md-card md-toolbar
{
	font-weight: normal;
    font-size: 140%;
	line-height: normal;
}
.app-content md-card md-toolbar
{
    text-transform: uppercase;
}
.app-breadcrumbs .md-chip-list .flag-icon {
    margin: 0 10px;
}
.app-breadcrumbs .md-chip-list .md-chip {
	margin: 0;
	padding: 0;
	background: none;
	border-radius: 0;
}
.app-breadcrumbs .md-chip-list .md-chip a {
	color: gray;
	text-decoration: none;
}
.app-breadcrumbs .md-chip-list .md-chip:not(:first-child):before {
    content: "/";
    margin: 0 10px;
    color: silver;
}

.app-breadcrumbs .md-chip-list .md-chip:last-child a {
    color: black;
}

.app-navigation {
    order: 1;
    max-width: 210px;
	min-width: 210px;
	border-right: 1px solid #f7f7f7;
	margin-right: -1px;
}
.app-navigation md-nav-list {
	padding: 0;
	border-bottom: 1px solid #f7f7f7;
}
.app-navigation .md-list-item {
	min-height: 0;
	height: auto !important;
}
.app-navigation .md-list-item a {
	line-height: 64px;
}
.app-navigation .md-list-item a md-icon {
	border-radius: 0;
	vertical-align: middle;
	line-height: 15px;
	font-size: 20px;
	height: 20px;
	width: 30px;
}
.app-content {
    flex: 2 0px;
    order: 2;
}

.app-content ng-component {
	display: flex;
    padding: 20px;
}
.app-content ng-component > * {
	flex-direction: row;
}
.app-content section {
    display: flex;
	width: 100%;
    background-color: #f7f7f7;
	padding: 20px;
    margin-bottom: 20px;
}

.app-content md-grid-list,
.app-content .md-grid-list {
	width: 100%;
	display: flex;
  	flex-wrap: wrap;
	flex-direction: row;
}
.app-content md-grid-list[cols="2"] change-details-card {
	flex: 1 1 50%;
	max-width: 50%;
	max-height: 100%;
	box-sizing: border-box;
}
.app-content md-grid-list[cols="2"] change-details-card md-card {
	margin-right: 20px;
}

.app-content md-grid-list md-card {
	min-width: 0;
	display: block;
}
.app-content md-card {
	min-width: 100%;
	padding: 0;
	margin-bottom: 20px;
}
.app-content md-card[ng-reflect-router-link]:hover {
	cursor: pointer;
}
.app-content md-card > * {
	padding: 20px;
}
.app-content md-card md-toolbar {
	padding: 0 20px;
}
.app-content md-card[ng-reflect-router-link] md-toolbar {
	background-color: rgba(68, 138, 255, 0.12);
	color: #448aff;
	transition: all 0.2s ease;
}
.app-content md-card[ng-reflect-router-link]:hover md-toolbar {
	background-color: #448aff;
	color: #fff;
}
.app-content md-card .table {
	width: 100%;
	margin-bottom: 20px;
}
.app-content md-card .table th,
.app-content md-card .table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,.03);
}
.app-content md-card .table th {
	background-color: rgba(0,0,0,.08);
	cursor: pointer;
	width: 1%;
}
.app-content md-card .table th.Asc,
.app-content md-card .table th.Desc {
	background-color: rgba(33, 150, 243, 0.12);
	user-select: none;
}
.app-content md-card .table th.Asc {
	box-shadow: inset 0 -3px 0 rgba(33, 150, 243, 0.5);
}
.app-content md-card .table th.Desc {
	box-shadow: inset 0 3px 0 rgba(33, 150, 243, 0.5);
}
.app-content md-card .table tr:nth-child(2n+1) td {
	background: #f7f7f7;
}
.app-content md-card .table td span {
	padding: 0 5px;
	color: silver;
}
.app-content md-card .table td span.md-down {
	color: #f44336;
}
.app-content table td[nowrap] {
    line-height: 36px;
    padding-right: 20px !important;;
}
.app-content table td[nowrap] md-icon {
    vertical-align: middle;
}
.app-content table td[nowrap] {
    line-height: 36px;
}
.app-content md-card md-card-actions {
	margin: 0 !important;
	padding: 0 10px 10px !important;
}
.app-content md-card md-card-footer {
	padding: 0;
}

.text_grey {
    color: grey;
}
.text_blue {
    color: #0070CD;
}

.app-footer {
    order: 4;
    text-align: center;
    font-size: 70%;
    padding: 10px;
    border-top: 1px solid #f7f7f7;
}

.app-footer a {
    color: gray;
    text-decoration: none;
}

.latest_update {
    margin-top: 40px;
}

md-dialog-container { min-width: 300px; }

md-dialog-container md-select { min-width: 100%; }

.input_button_style {
    box-sizing: border-box;
    text-align: center;
    padding: 0 16px;
    overflow: hidden;
    width:130px;
    height:36px;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    user-select: none;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
}
.input_button_style:hover {
    background-color: rgba(68, 138, 255, 0.12);
}
.input_font_style {
    text-transform: uppercase;
    color: #448aff;
    font-size:14px;
    font-weight:500;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    white-space: nowrap;
    text-align: center;
    line-height: 36px;
}
.input_input_style {
    margin-top: -50px;
    margin-left: -410px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100px;
    cursor: pointer;
}
