<div class="app-container">
  <cpc-header class="app-header" *ngIf="communicationService.isAuthenticated()"></cpc-header>
  <div class="app-breadcrumbs" *ngIf="communicationService.isAuthenticated()">

    <md-chip-list>
      <cpc-breadcrumb></cpc-breadcrumb>
    </md-chip-list>
    <cpc-actions align="right"></cpc-actions>
  </div>
  <!-- Sidebar -->
  <div class="app-navigation" *ngIf="communicationService.isAuthenticated()">
    <cpc-left-menu></cpc-left-menu>
  </div>
  <!-- Content -->
  <div  class="app-content" #root="$implicit" dir="ltr">
    <!-- DOM loader -->
    <router-outlet></router-outlet>
  </div>
  <footer class="app-footer"><a href="http://odin.com" target="_blank">© 2016 Ingram Micro Inc. All rights reserved.</a></footer>
</div>

