<div class="container-fluid" style="padding-top: 10%">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center text-primary h1">Centralized Product Catalog</div>
            <div class="text-center text-primary h4">Redirecting to Microsoft for Authentication...</div>
            <div class="text-center text-primary h4 small">
                If nothing happens during 5s, please, click this <a href="#" (click)="login($event)">link</a>
            </div>
        </div>
    </div>
</div>
